<!-- snippets/cart-upsell [aa] -->
{% assign upsell_blocks = section.blocks | where: 'type', 'recommendation' %}
{% assign upsell_counter = 0 %}

{% capture upsell_html %}
  <ul class="flex gap-2 max-w-full snap-x snap-mandatory overflow-scroll hide-scrollbars">
    {%- for block in upsell_blocks -%}
      {% assign product_in_cart = false %}
      {% assign upsell_product = block.settings.product %}
      {% assign upsell_variant = upsell_product.selected_or_first_available_variant %}

      {%- for item in cart.items -%}
        {% if upsell_product.id == item.product.id %}
          {% assign product_in_cart = true %}
        {% endif %}
      {%- endfor -%}

      {% if upsell_variant.available and product_in_cart == false %}
        <li class="bg-white p-3 flex flex-col items-center justify-between snap-center w-1/3">
          <div class="flex flex-col items-center justify-between h-full">
            <a href="{{ upsell_product.url }}">
              <div class="slide-cart--item-image">
                {% capture image_classes %}w-full h-24 object-contain {% endcapture %}
                {%
                  render 'responsive-image',
                  src: upsell_product.featured_image,
                  alt: upsell_product.title,
                  class: image_classes
                %}
              </div>
              <h3 class="text-base font-couch mb-2 text-center">{{ upsell_product.title }}</h3>
            </a>

            {% form 'product', upsell_product, data-productid: product.id, class: "slide-cart--upsell-form" %}
              <input type="hidden" name="id" value="{{ upsell_variant.id }}">
              <input type="hidden" name="quantity" value="1">

              <button type="submit" name="submit" class="btn btn-outline btn-small flex items-center gap-1 justify-center">
                <span>Add</span>
                <span>-</span>
                <span>{{ upsell_variant.price | money }}</span>
              </button>
            {% endform %}

          </div>
        </li>

        {% assign upsell_counter = upsell_counter | plus: 1 %}

        {%- if upsell_counter > 4 -%}
          {% break %}
        {%- endif -%}
      {% endif %}

    {%- endfor -%}
  </ul>
{% endcapture %}

<div class="border-t border-b border-black pl-4 py-4
            js-slide-cart--upsell
            {% if upsell_counter == 0 %}hidden{% endif %}">
  <h3 class="font-couch text-center text-xl mb-2">Don't Forget</h3>

  {{ upsell_html }}
</div>
