<!-- snippets/quantity-box -->
{%- comment %}
	Variables:
  - input_class: [String] class names added to the number input
  - name: [String] input name attribute
  - quantity: [Int] quantity shown in the box, calculates minus amount and plus amount
  - title: [String]
  - min: [Int] minimum value
  - key: [Key] cart item only
{% endcomment -%}

<div class="grid grid-cols-3 gap-1 bg-white w-24 rounded-full border border-black">
  <label for="quantity--{{ title | handleize }}-{{ key }}" class="sr-only">Quantity</label>

  <button type="button"
          class="js-change-quantity
                 btn-transparent ss-icon product-minus
                 py-1 pl-3
                 flex justify-center items-center"
          data-action="minus">
    <span class="sr-only">Decrease Quantity of {{ title }}</span>
    {% render 'icon', icon: 'minus', class: "w-2" %}
  </button>

  <input id="quantity--{{ title | handleize }}-{{ key }}"
         type="number"
         min="{{ min }}"
         size="2"
         class="text-center text-base py-1 js-quantity-input {{ input_class }}"
         name="{{ name }}"
         {% if key != blank %} data-key="{{ key }}"{% endif %}
         value="{{ quantity }}">

  <button type="button"
          class="js-change-quantity btn-transparent
                 py-1 pr-3
                 flex justify-center items-center ss-icon product-plus"
          data-action="plus">
    <span class="sr-only">Increase Quantity of {{ title }}</span>
    {% render 'icon', icon: 'plus', class: "w-2" %}
  </button>
</div>
