<!doctype html>
  <html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% render 'meta-tags' %}

    <link rel="stylesheet" href="https://use.typekit.net/sez6dex.css">

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>

    {{ content_for_header }}

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-945523684"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-945523684');
</script>
  </head>
  <body data-template="{{ template.name }}">
    <a href="#MainContent" class="sr-only">Skip to main content</a>

    <div class="overlay cursor-pointer js-overlay hidden bg-black opacity-20 fixed top-0 bottom-0 left-0 right-0 w-screen h-screen z-20"></div>

    {% section 'announcement-bar' %}
    {% section 'header' %}
    {% section 'ajax-cart' %}

    <main id="MainContent" class="content-for-layout focus-none relative" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <script type="text/javascript" src="{{ 'lazysizes.min.js' | asset_url }}"></script>
    <script type="module" src="{{ 'common.js' | asset_url }}" defer></script>

    {% render 'tracking-scripts' %}
    {% render 'additional-scripts' %}
  <script src="https://a.klaviyo.com/media/js/onsite/onsite.js"></script>
<script>
    var klaviyo = klaviyo || [];
    klaviyo.init({
      account: "PUBLIC_API_KEY",
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{ 
    trigger: {
      product_page_text: "Notify Me When Available",
      product_page_class: "btn",
      product_page_text_align: "center",
      product_page_margin: "0px",
      replace_anchor: false
    },
    modal: {
     headline: "{product_name}",
     body_content: "Register to receive a notification when this item comes back in stock.",
     email_field_label: "Email",
     button_label: "Notify me when available",
     subscription_success_label: "You're in! We'll let you know when it's back.",
     footer_content: '',
     additional_styles: "@import url('https://fonts.googleapis.com/css?family=Helvetica+Neue');",
     drop_background_color: "#000",
     background_color: "#fff",
     text_color: "#222",
     button_text_color: "#fff",
     button_background_color: "#439fdb",
     close_button_color: "#ccc",
     error_background_color: "#fcd6d7",
     error_text_color: "#C72E2F",
     success_background_color: "#d3efcd",
     success_text_color: "#1B9500"
    }
  });
</script>  </body>
</html>
