<!-- sections/predictive-search -->

{%- comment %}
	Uses Predictive Search API + predictiveSearch.js file
{% endcomment -%}

<div class="mx-auto w-full lg:w-11/12 px-5 py-5 lg:px-8 lg:py-8">
  <form class="w-full js-predictive-search-form"
        action="{{ routes.search_url }}"
        method="post"
        data-show-products="{{ section.settings.show_products }}"
        data-show-articles="{{ section.settings.show_articles }}"
        data-show-pages="{{ section.settings.show_pages }}">
    <div class="flex items-center w-full gap-4 relative border border-black pl-5">
      {% render 'icon', icon: 'search', class: "w-6" %}

      {% render 'floating-label'
         id: 'predictive-search',
         input_type: 'text',
         input_name: 'q',
         input_val: form.q,
         placeholder: 'search',
         input_class: 'js-predictive-search-bar border-0',
         label: 'Search',
         label_class: 'flex gap-2 text-black' %}
    </div>
  </form>
</div>


<div class="js-search-results">
  {%- if search.results_count > 0 -%}
    <div class="px-5 py-5 border border-black">
      <h2 class="text-center font-couch text-3xl">Results for {{ search.terms }}</h2>
    </div>

    {% assign product_results = search.results | where: 'object_type', 'product' %}
    {% assign article_results = search.results | where: 'object_type', 'article' %}
    {% assign page_results = search.results | where: 'object_type', 'page' %}

    {% if product_results != blank %}
      <div class="px-5 py-5 border border-black">
        <h2 class="text-center font-couch text-3xl">Products</h2>
      </div>

      <ul class="grid grid-cols-2 xl:grid-cols-3 js-product-results">
        {%- for item in product_results -%}
          {% render 'product-card', product: item %}
        {%- endfor -%}
      </ul>
    {% endif %}

    {% if article_results != blank %}
      <div class="px-5 py-5 border border-black">
        <h2 class="text-center font-couch text-3xl">Articles</h2>
      </div>

      <ul class="grid grid-cols-2 xl:grid-cols-3 js-article-results">
        {%- for item in article_results -%}
          {% render 'article-card',
             article: item,
             grid_span: 1 %}
        {%- endfor -%}
      </ul>
    {% endif %}

    {% if page_results != blank %}
      <div class="px-5 py-5 border border-black">
        <h2 class="text-center font-couch text-3xl">Pages</h2>
      </div>

      <ul class="grid grid-cols-2 xl:grid-cols-3 js-page-results">
        {%- for item in page_results -%}
          {% render 'article-card',
             article: item,
             grid_span: 1 %}
        {%- endfor -%}
      </ul>
    {% endif %}


  {%- endif -%}
</div>

{%- comment %}
  - search_type: product, article, page
{% endcomment -%}

{% schema %}
{
  "name": "Predictive Search Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_products",
      "label": "Show Product Results",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_articles",
      "label": "Show Article Results",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_pages",
      "label": "Show Page Results",
      "default": false
    },
    {
      "type": "text",
      "id": "additional_classes",
      "label": "Additional CSS Classes for results container"
    }
  ],
  "presets": [
    {
      "name": "Predictive Search Bar"
    }
  ]
}
{% endschema %}
